
.el-radio+.el-radio{
  margin-left: 0 !important;
}
.el-radio{
  margin-right: 30px;
  
}
.el-checkbox+.el-checkbox{
  margin-left: 0 !important;
}
.el-checkbox{
  margin-right: 30px;
}
.el-form-item--small{
  .el-radio{
    line-height: 32px !important;
  }
}
.el-form-item--mini{
  .el-radio{
    line-height: 28px !important;
  }
}
.el-form-item--medium{
  .el-radio{
    line-height: 36px !important;
  }
}



div::-webkit-scrollbar-track,
main::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

div::-webkit-scrollbar,
main::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb
{
  background-color: rgb(204, 204, 204);
}